*.o
*~
.deps/
.dirstamp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/dumpwad
/install-sh
/missing
/packages/quadra.nsi
/packages/readme-win32.txt
/quadra
/quadra.res
/quadra.spec
/source/config.h
/source/config.h.in
/source/stamp-h1
/test_version
/wadder

# CMake build artifacts
/build/
/build*/
/cmake-build-*/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake

# Test and debug files
/simple_test.cc
/minimal_test.cc
/test_sdl.cc
/overlay/

# IDE
/.vs/
/.vscode/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.sln.docstates
